@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
.index{
  width: 750px;
  height: calc(100vh - 100px);
  overflow: auto;
  &_top{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, #1F63C5 ,#0C418F);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .at-icon{
      color: white;
      width: 70px;
      height: 50px;
      font-size: 60px;
      position: relative;
      left: -40%;
    }
    &_text{
      color: white;
    }

    &_search{
      width: 70%;
      height: 70px;
      background-color: aqua;
    }
  }
  .scrollview{
    display: flex;
    overflow: auto;
    font-size: 30px;
    background-color: #d27c61;
    width: 100%;
    height: calc(100vh - 100px - 150px);

    .sc1{

      .delete{
        text-align: center;
        line-height: 25px;
        width:30px;
        height: 30px;
        font-size: 40px;
        //background-color: #47431f;
        position: absolute;
        right: 10px;
        top: 10px;
        box-sizing: border-box;
        border: 1px solid black;
      }
      background-color: pink;
      display: flex;

      >*{
        box-sizing: border-box;
        padding:10px;
        min-width: 250px;
        max-width: 250px;
        border: 1px solid black;
        overflow-wrap: break-word;
      }
    }


    .lastAdd{
      //vertical-align: top;
      display: inline-block;
      font-size: 45px;
      min-width: 200px;
      height: 200px;
      border: 2px solid #a4a6a8;
    }
    .at-modal__content{
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .addInput{
      font-size: 35px;
      //margin: 0 auto;
      width: 350px;
      height: 60px;
    }
  }
}
